{% extends 'base.html' %}
{% block title %}
About Us
{% endblock %}
{% block content %}
<link rel="stylesheet" href="/static/aboutsus.css">

<div style="height: 50px;">
</div>

<center>
	<h1 style="color:beige;"><b>ABOUT US</b></h1>
</center>

<div id="box1">
	<div id="box11">
		SolarAura is a comprehensive service designed to make solar energy accessible and
		efficient for a wide range of applications, including homes, factories, and workplaces.
		Our process begins with a thorough measurement and evaluation of the
		designated area, taking into account specific dimensions and requirements.
	</div>
	<div id="box12">
		<img id="img1" src="/static/terrace.webp">
	</div>
</div>

<div id="box1">
	<div id="box12">
		<img id="img1" src="/static/commercial2.png">
	</div>
	<div id="box11">
		Once we have a clear understanding of your space, we meticulously select and provide
		the most appropriate solar panels. Our goal is to ensure that energy is harnessed optimally,
		maximizing the benefits of solar power for your unique needs.
	</div>
</div>

<div id="box1">
	<div id="box11">
		Moreover, SolarAura offers expert guidance and support throughout the entire journey,
		from the initial assessment to the installation and maintenance of your solar panel system. We are
		committed to making the transition to sustainable and renewable energy sources as seamless and
		efficient as possible for our valued customers.
	</div>
	<div id="box12">
		<img id="img1" src="/static/commercial4.png">
	</div>
</div>

<div id="box1">
	<div id="box12">
		<img id="img1" src="/static/commercial1.jpg">
	</div>
	<div id="box11">
		If you're looking to solarify the energy you consume in your daily life, SolarAura is
		the right place to start your journey towards a greener and more sustainable future.
	</div>
</div>

{% endblock %}