{% extends 'base.html' %}
{% block title %}
Careers
{% endblock %}
{% block content %}

<link rel="stylesheet" href="/static/careers.css">

<div style="height: 20px;">

</div>

<center>
	<div class="background-image">
		<img src="/static/about.jpg" style="width: 100%;">

		<section class="job-opportunity">
			<h2>Solar Panel Installation</h2>
			<p>Join our team of skilled professionals who install solar panel systems in residential, commercial, and
				industrial settings. This hands-on role involves ensuring the efficient setup and maintenance of solar
				panels.</p>
		</section>

		<section class="job-opportunity">
			<h2>Solar Design and Engineering</h2>
			<p>If you have a background in engineering or design, you can work with SolarAura in designing and
				optimizing
				solar energy systems. Your expertise will help create efficient and customized solutions for our
				clients.
			</p>
		</section>

		<section class="job-opportunity">
			<h2>Sales and Business Development</h2>
			<p>Our sales and business development teams play a vital role in introducing our solar solutions to
				potential
				clients. If you have strong communication and negotiation skills, this could be your career path.</p>
		</section>

		<section class="job-opportunity">
			<h2>Project Management</h2>
			<p>Manage and oversee solar installation projects from start to finish. Project managers ensure timelines
				are
				met, budgets are adhered to, and the installation process runs smoothly.</p>
		</section>

		<section class="job-opportunity">
			<h2>Energy Consultation</h2>
			<p>Become an energy consultant with SolarAura, providing valuable insights to clients on how they can
				benefit
				from solar energy. This role involves assessing energy needs, calculating potential savings, and guiding
				clients toward sustainable solutions.</p>
		</section>

		<section class="job-opportunity">
			<h2>Marketing and Communications</h2>
			<p>Join our marketing and communications team to help spread the word about the benefits of solar energy.
				This
				includes creating content, managing social media, and promoting our services.</p>
		</section>

		<section class="job-opportunity">
			<h2>Internships and Apprenticeships</h2>
			<p>SolarAura offers internships and apprenticeships for students and individuals looking to gain hands-on
				experience in the renewable energy field. These programs provide valuable training and mentorship.</p>
		</section>

		<section class="job-opportunity">
			<h2>Customer Support</h2>
			<p>Our customer support teams ensure that clients have a seamless experience with SolarAura.</p>
		</section>
	</div>
</center>

<marquee scrollamount="16">
	<h1 style="color:beige">Send your CV to hr@solaraura.com</h1>
</marquee>

{% endblock %}