{% extends 'base.html' %}
{% block title %}
Contact Us
{% endblock %}
{% block content %}

<link rel="stylesheet" href="/static/contact.css">

<div>
	<img id="space" src="/static/contactspace.jpg">
</div>

<center>
	<div class="container1">
		<h1>EUROPE</h1>
		<div id="box1">

			<div class="box" id="box11">
				<h4 class="item_title">France</h4>
				<span class="item_detail"> Mon--Fri 9:00-20:00 FST</span><br>
				<span class="item_detail">+33524780</span><br>
				<span class="item_detail">
					<a class="item_link" href="mailto:service.fr@support.fr.solaraura.com">
						service.fr@support.fr.solaraura.com</a>
				</span>
			</div>

			<div class="box" id="box12">
				<h4 class="item_title">Spain</h4>
				<span class="item_detail"> Mon--Fri 9:00-20:00 SST</span><br>
				<span class="item_detail">+34845032</span><br>
				<span class="item_detail">
					<a class="item_link" href="mailto:service.fr@support.sp.solaraura.com">
						service.fr@support.sp.solaraura.com</a>
				</span>
			</div>

		</div>

		<div id="box2">

			<div class="box" id="box21">
				<h4 class="item_title">United Kingdom</h4>
				<span class="item_detail"> Mon--Fri 9:00-20:00 UKST</span><br>
				<span class="item_detail">+446329780</span><br>
				<span class="item_detail">
					<a class="item_link" href="mailto:service.fr@support.uk.solaraura.com">
						service.fr@support.uk.solaraura.com</a>
				</span>
			</div>

			<div class="box" id="box22">
				<h4 class="item_title">Germany</h4>
				<span class="item_detail"> Mon--Fri 9:00-20:00 GST</span><br>
				<span class="item_detail">+498943780</span><br>
				<span class="item_detail">
					<a class="item_link" href="mailto:service.fr@support.gm.solaraura.com">
						service.fr@support.gm.solaraura.com</a>
				</span>
			</div>

		</div>

	</div>

	<div class="container1">
		<h1>ASIA</h1>
		<div id="box1">

			<div class="box">
				<h4 class="item_title">India</h4>
				<span class="item_detail"> Mon--Fri 9:00-20:00 IST</span><br>
				<span class="item_detail">+91837240</span><br>
				<span class="item_detail">
					<a class="item_link" href="mailto:service.fr@support.ind.solaraura.com">
						service.fr@support.ind.solaraura.com</a>
				</span>
			</div>

			<div class="box" id="box12">
				<h4 class="item_title">Taiwan</h4>
				<span class="item_detail"> Mon--Fri 9:00-20:00 TST</span><br>
				<span class="item_detail">+8864902</span><br>
				<span class="item_detail">
					<a class="item_link" href="mailto:service.fr@support.tw.solaraura.com">
						service.fr@support.tw.solaraura.com</a>
				</span>
			</div>

		</div>

		<div id="box2">

			<div class="box" id="box21">
				<h4 class="item_title">Singapore</h4>
				<span class="item_detail"> Mon--Fri 9:00-20:00 SST</span><br>
				<span class="item_detail">+653789921</span><br>
				<span class="item_detail">
					<a class="item_link" href="mailto:service.fr@support.sg.solaraura.com">
						service.fr@support.sg.solaraura.com</a>
				</span>
			</div>

			<div class="box" id="box22">
				<h4 class="item_title">China</h4>
				<span class="item_detail"> Mon--Fri 9:00-20:00 CST</span><br>
				<span class="item_detail">+86243780</span><br>
				<span class="item_detail">
					<a class="item_link" href="mailto:service.fr@support.ch.solaraura.com">
						service.fr@support.ch.solaraura.com</a>
				</span>
			</div>

		</div>

	</div>

	<div class="container1">
		<h1>NORTH AMERICA</h1>
		<div id="box1">

			<div class="box">
				<h4 class="item_title">United States</h4>
				<span class="item_detail"> Mon--Fri 9:00-20:00 EST</span><br>
				<span class="item_detail">+1837240</span><br>
				<span class="item_detail">
					<a class="item_link" href="mailto:service.fr@support.us.solaraura.com">
						service.fr@support.us.solaraura.com</a>
				</span>
			</div>

			<div class="box" id="box12">
				<h4 class="item_title">Mexico</h4>
				<span class="item_detail"> Mon--Fri 9:00-20:00 TST</span><br>
				<span class="item_detail">+52314902</span><br>
				<span class="item_detail">
					<a class="item_link" href="mailto:service.fr@support.mx.solaraura.com">
						service.fr@support.mx.solaraura.com</a>
				</span>
			</div>

		</div>

		<div id="box2">

			<div class="box" id="box21">
				<h4 class="item_title">Canada</h4>
				<span class="item_detail"> Mon--Fri 9:00-20:00 SST</span><br>
				<span class="item_detail">+15789921</span><br>
				<span class="item_detail">
					<a class="item_link" href="mailto:service.fr@support.cd.solaraura.com">
						service.fr@support.cd.solaraura.com</a>
				</span>
			</div>

		</div>

	</div>
</center>

{% endblock %}